@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

/* ! reset default style of browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! style rule for navigation section */

nav {
  margin: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .owner-name {
  color: #0d1321;
  font-family: 'Azeret Mono', monospace;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav a {
  display: inline-flex;
  padding: 17px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
  text-decoration: none;
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono', monospace;
  font-size: 1.25rem;
  font-weight: 600;
}

/* ! style rule for banner section */

#banner {
  background: url('assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  max-width: 998px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.banner-content h1 {
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 141.667% */
}

.banner-content p {
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.banner-content a {
  display: flex;
  padding: 21px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #0d1321;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ! style rule for Purpose section */

#purpose {
  background: #fff;
  margin: 2rem 10%;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px;
}

.purpose-heading {
  margin-bottom: 48px;
}

.common-heading {
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.common-description {
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
  opacity: 0.7;
}

.purpose-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mission {
  display: flex;
  padding: 48px;
  justify-content: space-between;
  gap: 32px;
  border-radius: 16px;
  background-image: linear-gradient(
    90deg,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dp-heading {
  color: rgba(13, 19, 33, 0.7);
  font-family: 'Azeret Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  width: 390px;
  margin-bottom: 1rem;
}

.dp-description {
  color: #0d1321;
  font-family: 'Azeret Mono';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 468px;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.white-btn {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #0d1321;
  opacity: 0.7;
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
}

.modern-system {
  border-radius: 16px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.vision {
  display: flex;
  padding: 48px;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

/* ! style rule for inspiration section */

#inspiration {
  display: flex;
  margin: 2rem 10%;
  flex-direction: column;
  gap: 48px;
}

.youtube-player {
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}

iframe {
  width: 100%;
  height: 580px;
  border-radius: 16px;
  background: lightgray 0px -5.621px / 100% 110.681% no-repeat;
}

/* ! style rule for current target section */

#current-target {
  margin: 2rem 10%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.card {
  display: flex;
  width: 364px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
}

.html-card {
  background: rgba(255, 76, 30, 0.05);
}

.card-title {
  color: #0d1321;
  font-family: 'Azeret Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 150% */
}

.card-description {
  color: #0d1321;
  font-family: 'Azeret Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
}

.card-link {
  color: #0d1321;
  font-family: 'Azeret Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.css-card {
  background: rgba(0, 76, 232, 0.05);
}

.js-card {
  background: rgba(255, 223, 0, 0.05);
}

/* ! style rule for next target section */

#next-target {
  margin: 2rem 10%;
}

.next-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 2rem;
}

.next-card {
  display: flex;
  padding: 40px;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
}

/* ! style rule for support section */

#support {
  margin: 3rem 10%;
  display: flex;
  padding: 64px 48px;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('assets/handshake.jpg') lightgray 50% / cover no-repeat;
}

#support h1 {
  color: #fff;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}

#support p {
  color: #fff;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 606px;
  margin: 0 auto;
}

.drop-openion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#support input {
  width: 548px;
  padding: 19px 20px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
}

.support-btn {
  width: 120px;
  padding: 15px 20px;
  border-radius: 8px;
  background: #fff;
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}

/* ! style rule for footer section */

footer {
  display: flex;
  padding: 2rem 10%;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

#footer h2 {
  color: #0d1321;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 24px;
}
